/* Estilos para o corpo do documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header {
    background-image: url(https://static.wixstatic.com/media/c28f07_010e4d6227fa4c6ea0393b8495f969b3~mv2.jpg/v1/fill/w_740,h_370,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/https://www.google.com/url?sa=i&url=http%3A%2F%2Fwww.lcxdesign.com.br%2Fsolucoes%2F&psig=AOvVaw29KFXvCzs0tPmKqxNd207Y&ust=1710705032121000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCNDL3JLH-YQDFQAAAAAdAAAAABAl~mv2.jpg://static.wixstatic.com/media/c28f07_f92ab8d88dd040d8a82fadd8c46d4c73~mv2.jpg/v1/fill/w_740,h_384,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/c28f07_f92ab8d88dd040d8a82fadd8c46d4c73~mv2.jpg);
    background-size: cover;
    background-position: center;
    color: #226d23; /* Texto branco */
    padding: 20px;
    text-align: center;
    
}

/* Estilos para as seções */
section {
    padding: 20px;
}

/* Estilos para o formulário */
form {
    max-width: 500px;
    margin: 0 auto;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Verde esmeralda */
    color: #fff; /* Texto branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Verde esmeralda mais escuro */
}

footer {
    text-align: center;
    background-color: #ccc;
    padding: 10px;
}

















@media only screen and (max-width: 600px) {
    form {
        max-width: 90%;
    }
}